/* .row
{
  display: flex;
}
.form
{
  width: 50%;
}
.list
{
  width: 50%;
} */
.header
{
  background-color: rgba(0,0,0,.3);
  text-align: left;
  padding: 1%;
  
}
h1 
{
  padding-top: 5%;

}
.list
{
  margin: 3%;
  margin-right: 0%;
  padding-top: 3%;
  border: 1px solid gray;

}
nav a
{
  text-decoration: none;
  color: white;
}
